body {
    background-color: rgb(201, 167, 107) !important;
}
.herocontain {
    height: 717px;
    position: relative;
    z-index: -1;
}
.stickyimg {
    position: relative;
    height: 100px;
}
.hero-image {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../Images/me.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
  /*image is fixed in background all other elements are scrolling*/  
  /*background attachement makes image fixed*/
    background-attachment: fixed;
    position: relative;
    top:-50;
}


.container {
    position: fixed;
    z-index: 1;
    top:0px;
}
.after {
    position: fixed; 
    z-index: 2;

}  

  
  