body {
    background-image: url("../Images/Beach.png");
    background-repeat: no-repeat;
    background-size:cover;
}
hr {
    color: white;
}
.verses {
    position: relative;
    top: 500px;
}
.webad {
    display: block;
}
.webadsec {
    position: fixed;
    top: 300px;
}
.mobilead {
    display: block;
}