body {
    background-image: url("../Images/Beach.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: fixed;
}
hr {
    color: white;
}



.webad {
    display: block;
}
.mobilead {
    display: block;
}